<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunnyweather.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        android:icon="@mipmap/ic_launcher" : 专门用于指定应用程序图标的,这里指定成 @mipmap/ic_launcher
        那么 Android 8.0 及以上,使用 mipmap-anydpi-v26 目录下的 ic_launcher.xml
        Android 7.0 以下使用 mipmap 相应分辨率目录下的 ic_launcher.png 图片作为应用图标

         android:roundIcon="@mipmap/ic_launcher_round" : 只适用于 Android 7.1 的过渡版本
    -->
    <application
        android:name=".SunnyWeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SunnyWeather">
        <activity android:name=".ui.weather.WeatherActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>